version: "3.1"

services:
  mongo:
    image: mongo:4.4.18
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: jsdusdbabsduroo4t
    volumes:
      - ./db:/data/db
    ports:
      - "27017:27017"
