/.idea/AndroidProjectSystem.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.gradle/config.properties
/.idea/deploymentTargetSelector.xml
/.idea/caches/deviceStreaming.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/codeStyles/Project.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/workspace.xml
